{% load staticfiles %}
<html>
    <head>
        <title>Luke2327's Blog</title>
        <meta charset="utf-8">
        <meta name='viewport' content='width=device-width,minimum-scale=0.maximum-scale=1.0'>
        <meta property="og:type" content="website">
        <meta property="og:title" content="Luke's 2327 Elementary Blog">
        <meta property="og:url" content="http://luke2327.pythonanywhere.com">
        <meta property="og:description" content="My first Elementary Blog by Luke2327, You want add post please call Luke2327">
        <meta property="og:image" content="https://cafeptthumb-phinf.pstatic.net/MjAxODAzMTNfOTYg/MDAxNTIwOTAwMDg0MjU5.gSjtPnE2tOetIKIrGSg3jOr1JxNxA7taT5woCEG2ix8g.q37Zc8-z40fiHcrP30OA5OpFrc8VTgLsyrIvD7iEpy8g.PNG.bequeath0307/4th_final.png?type=w740">
        <meta property="og:image-type" content="image/png">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    </head>
    <body>
        <div class="page-header">
            <!-- <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a> -->
            <h1><a href="/">Luke2327 Blog</a>
                <a href="{% url 'post_new' %}" class="add_btn"><span class="glyphicon glyphicon-plus"></span></a>
            </h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
